@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.content{
    display:none;
}
.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}
.header a {
    margin-left: 40px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

}

.header a.logo {
    margin-left: 10px;
    font-size: 34px;
    font-weight: bold;
}


.header a:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.header a.logo:hover {
    background-color: white;

    transform: scale(1.05);
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}
.header-right div{
    display:flex;
}
body{
    /*background: #007bff;*/
    background: dodgerblue;
}
.search-form{
    text-align:center;
    margin-top:40px;

}

.btn {
    margin-top:30px;
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 80px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}
.login-panel{
    position: absolute;

    transform: translate(-50%, -50%);

    background: dodgerblue;
    border-radius: 5px;
    width: 800px;
    height: 500px;
}

.quiz-panel{
    left:0;
    right:0;
    margin-top:80px;
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #fff;
    border-radius: 5px;
    width: 1200px;
    height: auto;
}
.quiz-table{
    border-collapse: collapse;
    width:100%;
    font-size: 18px;

}
.no-quizzes{
    font-size:30px;
    padding-top:50px !important;
    padding-bottom: 30px !important;
}
caption{
    font-size:27px;
    background-color: #dddddd;
    padding-top: 10px ;

    padding-bottom: 10px ;
}
.quiz-table tr,
.quiz-table th a{

    text-decoration:none;
    color:black;
}

.quiz-table th,
.quiz-table td {
    padding: 8px 5px;

}
.quiz-table th:last-of-type {
    border-top-right-radius: 5px;
}
.quiz-table th:first-of-type {
    border-top-left-radius: 5px;
}

.quiz-table thead tr {

    background-color: #dddddd;
    text-align: center;

}
.quiz-table thead tr th {
    font-size:20px;
    background-color: #eeeeee;
    transition: all 0.3s ease-in-out;

}
.quiz-table thead tr .top-row:hover {
    background-color: #dddddd;

}
.quiz-table tbody tr td a{
    font-weight:500;
    text-decoration:none;
    color:dodgerblue;

}
.quiz-table tbody tr td {
    text-align:center;

}

.quiz-table tbody tr {
    border-bottom: 1px solid aliceblue;

}

.quiz-table tbody tr:nth-of-type(even) {

    background-color: #f7fbff;
}
.quiz-table tbody tr:first-of-type {
    border-top: 1px solid #dddddd;
}
.quiz-table tbody tr:last-of-type {
    border-bottom: 1px solid #dddddd;
}
.quiz-table tbody tr:hover {
    transition: all 0.1s ease-in-out;

    text-shadow: 0.03ex 0, 0.03ex 0;
    background-color: #d8ebff;

}
.edit{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    font-size:15px;
    border-radius: 5px;
    padding: 8px 15px;
    color: #155724 ;
    background: #d4edda ;
    border: 1.7px solid #43d263 ;
}
.delete{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

    font-size:15px;
    border-radius: 5px;
    padding: 8px 15px;
    color: #721c24;
    background: #f8d7da;
    border: 1.7px solid #ff273e;
}
.edit:hover{
    transition: all 0.1s ease-out;
    background: #a8e5b6 ;
    border: 1.7px solid #2ebc26 ;
}
.delete:hover{
    transition: all 0.1s ease-out;
    background: #ffb6be;
    border: 1.7px solid #cd2738;
}