/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}
.header a {
    margin-left: 40px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

}

.header a.logo {
    margin-left: 10px;
    font-size: 34px;
    font-weight: bold;
}


.header a:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.header a.logo:hover {
    background-color: white;

    transform: scale(1.05);
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}

body{
    /*background: #007bff;*/
    background: dodgerblue;
}

h1{
    font-weight: bold;
    font-size: 180px;
    color: black;
    text-align: center;
    position: absolute;
    top: 20%;
    left:0;
    right:0;
    margin:0 auto;

}

.btn-group{
    display:inline-flex;
    position: absolute;
    top:60%;
    gap:180px;
    margin-top:8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;

}

.btn {
    font-size: 45px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 100px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
}