@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.content{
    display:none;
}
.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}
.header a {
    margin-left: 40px;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 24px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.header a.logo {
    margin-left: 10px;
    font-size: 34px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    transform: scale(1.1);
}

.header a.logo:hover {
    background-color: white;

    transform: scale(1.05);
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}
.header-right div{
    display:flex;
}
body{
    background: dodgerblue;
}

.quiz-box{
    display:block;
    position: relative;
    margin-top: 8%;
    margin-left: 50%;
    transform: translate(-50%, -10%);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 900px;
    background: #fff;
    border-radius: 5px;

}
.quiz-title{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
    font-size: 40px;
    font-weight: 600;
    overflow: hidden;
}

section{
    border-radius: 5px;
    padding: 25px 30px 20px 30px;
    background: #fff;
}
.quiz-box .que-text{
    margin-top:10px;
    font-size: 30px;
    display:flex;
    font-weight: 600;
    max-width:650px;
    word-wrap: break-word;
    display: inline-block;
    margin-bottom:15px;
}

.que-title{
    font-weight:500;

    font-size: 20px;
    align-items: center;
    justify-content: space-between;
    display:flex;
}

.points-text{
    font-size: 20px;
    margin-top:20px;
    display:flex;
    font-weight: 600;
    max-width:650px;
    word-wrap: break-word;
    display: inline-block;
}
.que-header{
    justify-content: space-between;
    display:flex;
}
.quiz-box .quiz-score{
    font-size: 20px;

}
section .option-list {
    padding: 20px 0px;
    display: block;
}
section .tf-option-list{
    padding: 20px 0px;
    display: flex;
    align-items: center;
}
input[type="checkbox"],
input[type="radio"]
{
    visibility: hidden;
}

section .option-list .option,
section .option-list .review-option,
section .option-list a,
section .tf-option-list .tf-content{
    max-width:900px;width:100%;
    text-align:left;
    margin-top:0px;
    background: aliceblue;
    border: 1px solid #84c5fe;
    transform: scale(1.01) ;

    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom:-5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.25, 0.1, 0.26, 1.03);
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    display:flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}
section .tf-option-list .tf-content{
    max-width:550px !important;
    cursor: auto !important;

}
.tf-option-list label{
    width:90px;
    margin-bottom:-5px;
    margin-left:10px;
    display:flex;
}
.option-true + a{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    font-size:15px;
    border-radius: 5px;
    padding: 8px 15px;
    color: #155724 ;
    background: #d4edda ;
    border: 1.7px solid #43d263 ;
}
.option-false + a{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

    font-size:15px;
    border-radius: 5px;
    padding: 8px 15px;
    color: #721c24;
    background: #f8d7da;
    border: 1.7px solid #ff273e;
}
.option-false:checked + a{
    font-size:14px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.24);
    background: #e98c94 !important;
    border: 1.7px solid #b22c3b !important;
}
.option-true:checked + a{
    font-size:14px !important;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.24);
    background: #8cd79e !important;
    border: 1.7px solid #30a34a !important;
}
.option-true:hover + a{
    transition: all 0.1s ease-out;
    background: #a8e5b6 ;
    border: 1.7px solid #2ebc26 ;
}
.option-false:hover + a{
    transition: all 0.1s ease-out;
    background: #ffb6be;
    border: 1.7px solid #cd2738;
}
section .option-list .review-option{
    border: 0px

}
.option:checked + a {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.24);
    transform: scale(1) !important;

    background: #8ecaff !important;

    border: 1px solid dodgerblue !important;

}
section .option-list .option:last-child + a{
    margin-bottom: 0px;
}
section .option-list .option:hover + a{
    transform: scale(1.02);
    background: #d8ebff;
    border: 1px solid #b8daff;
}
section  button {
    outline: none;
    border: none;
    margin:0 auto;
    margin-top:40px;
    display:block;
    padding: 8px;
    padding-left:20px;
    padding-right:20px;
    background-color: dodgerblue;
    color: white;
    text-decoration: none;
    font-size: 17px;
    line-height: 25px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}
section  button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
section .result{
    text-align:center;
}

section .option-list .picked{
    transform: scale(1.03) ;
}
section .option-list .correct{
    color: #155724 !important;
    background: #d4edda !important;
    border: 1.7px solid #43d263 !important;
}
section .option-list .wrong{
    color: #721c24;
    background: #f8d7da;
    border: 1.7px solid #ff273e;
}


.timer {
    position: relative;
    width: 70px;
    height: 70px;
}

.timer-svg {
    transform: scaleX(1);
    transform: scaleY(-1);

}

.timer-full {
    stroke-width: 12px;
    stroke: #d8ebff;
}

.timer-remaining {
    stroke-width: 12px;
    stroke-linecap: butt;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: dodgerblue;
    color:dodgerblue;

}


.timer-text {
    position: absolute;
    width: 70px;
    height:70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
