<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
    <link rel="stylesheet" th:href="@{/css/create.css}">

</head>
<body>
<div class="header">
    <a class="logo" href="/">Quiz Mania</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <div sec:authorize="isAnonymous()">
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
        </div>
    </div>
</div>
<div>
    <div><h1>Creation Tool</h1></div>
    <form th:action="@{/createQuiz}" class="search-form">
        <input type="text" placeholder="Name of Quiz" name="quizName" class="search-input" th:value="*{quizName}" autocomplete="off">
        <button class="btn">Add New Quiz</button>
    </form>
    <div sec:authorize="isAuthenticated()">
        <table class="blueTable">
            <thead>
            <td>Nr</td>
            <td>Name</td>
            </thead>
            <tbody>
            <tr th:each="quiz, status:${usersQuizzes}">
                <td width="20%">#[[${status.count}]]</td>
                <td width="50%" th:text="${quiz.name}"></td>
                <td><a th:href="@{'/createQuiz/'+${quiz.id}}">Edit Quiz</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>