<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
    <link rel="stylesheet" th:href="@{/css/create.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
<div class="header">
    <a class="logo" href="/">Quiz Mania</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <div sec:authorize="isAnonymous()">
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
        </div>
    </div>
</div>
<div class="content">
    <form th:action="@{/createQuiz}" class="search-form">
        <input type="hidden" placeholder="Name of Quiz" name="quizName" class="search-input" th:value="*{quizName}" autocomplete="off" >
        <button class="btn">Create New Quiz</button>
    </form>
    <section class="quiz-panel">
        <div sec:authorize="isAuthenticated()">
            <table class="quiz-table">
                <caption style="font-weight: bold">Your quizzes </caption>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="quiz, status:${usersQuizzes}">
                    <td>#[[${status.count}]]</td>
                    <td  th:text="${quiz.name}"></td>
                    <td  th:text="${quiz.category}"></td>
                    <td  th:text="${quiz.date}"></td>
                    <td>
                        <a th:href="@{'/deleteQuiz/'+${quiz.id}}"><button class="delete">Delete</button></a>
                        <a th:href="@{'/createQuiz/'+${quiz.id}}"><button class="edit">Edit</button></a>
                    </td>
                </tr>
                <tr th:if="${#lists.isEmpty(usersQuizzes)}">
                    <td class="no-quizzes"
                        colspan="6" style="text-align:center">
                        No quizzes created yet
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<script>
    $(document).ready(function() {
        $(".content").hide().fadeIn(200);
    });
</script>
</body>

</html>