<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
    <link rel="stylesheet" th:href="@{/css/create.css}">

</head>
<body>
<div class="header">
    <a class="logo" href="/">Quiz Mania</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <div sec:authorize="isAnonymous()">
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
        </div>
    </div>
</div>
<form action="#" th:action="@{'/createQuestion/save'}" th:object="${question} "method="post"
            style="max-width:600px;margin:0auto;">
    <div class="m-3">
        <div class="form-group row">
            <label class="col-form-label col-sm-4">Question content:</label>
            <div class="col-sm-8">
                <input type="text" th:field="${question.content}"class="form-control"required/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4">Answer1</label>
            <div class="col-sm-4">
                <label>Answer Content</label>
                <input type="text" name="answerContent" class="form-control" required>
            </div>
            <div class="col-sm-4">
                <label>Is true?</label>
                <input type="text" name="answerIsCorrect" class="form control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4">Answer2</label>
            <div class="col-sm-4">
                <label>Answer Content</label>
                <input type="text" name="answerContent" class="form-control" required>
            </div>
            <div class="col-sm-4">
                <label>Is true?</label>
                <input type="text" name="answerIsCorrect" class="form control">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4">Answer3</label>
            <div class="col-sm-4">
                <label>Answer Content</label>
                <input type="text" name="answerContent" class="form-control" required>
            </div>
            <div class="col-sm-4">
                <label>Is true?</label>
                <input type="text" name="answerIsCorrect" class="form control">
            </div>
        </div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>