<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz Mania</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="header">
    <a class="logo" href="">Quiz Mania</a>
    <div class="header-right">
        <a class="active" href="">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>
<h1>Quiz Mania</h1>
<div class="btn-group">
    <form action="/search" method="post">
        <button class="btn">Start</button>
    </form>
    <form action="/create" method="post">
        <button class="btn">Create</button>
    </form>

</div>
</body>
</html>
