<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Quiz Mania</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="header">
    <a class="logo" href="/">Quiz Mania</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <div sec:authorize="isAnonymous()">
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
        </div>
    </div>
</div>
<div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
</div>
<div class="content">
    <form name='f' action="" method='post' style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type='text' name='email' value='' class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type='password' name='password' class="form-control">
                </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>