<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Quiz Mania</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/play.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
<div class="header">
    <a class="logo" href="/">Quiz Mania</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <div sec:authorize="isAnonymous()">
            <a href="/login/">Login</a>
            <a href="/register/">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
        </div>
    </div>
</div>
<div class="quiz-box">
    <div class="quiz-title" th:text="${quiz.name}"></div>
    <input type="hidden" id="indx" value="${session.questionIndex}" />

    <section>
        <div class="que-title">
            <div class="que-text" th:text="${quiz.questionList[session.questionIndex].content}" ></div>
            <div class="countdown">
                <div class="base-timer">
                    <span id="countdown-number" class="base-timer__label"></span>
                </div>
            </div>
        </div>

        <div th:if="${quiz.questionList[session.questionIndex].questionType == T(com.Quizmania.Quizmania.domain.QuestionTypeEnum).SINGLE}">
            <form th:action="@{'/quiz/'+ ${quiz.id} +'/play/submit'}" th:object="${quiz}" method="post" >
                <div class="option-list" th:each="answer : ${quiz.questionList[session.questionIndex].answerList}">
                    <label>
                        <input type="radio" name="content" class="option" th:value="${answer.content}"/>
                        <a for="content" th:text="${answer.content}"></a>
                    </label>
                </div>
                <button type="submit" class="option" th:text="Next"></button>
            </form>
        </div>
        <div th:if="${quiz.questionList[session.questionIndex].questionType == T(com.Quizmania.Quizmania.domain.QuestionTypeEnum).MULTIPLE}">
            <form th:action="@{'/quiz/'+ ${quiz.id} +'/play/submit'}" th:object="${quiz}" method="post" >
                <div class="option-list" th:each="answer : ${quiz.questionList[session.questionIndex].answerList}">
                    <label>
                        <input type="checkbox" name="content" class="option" th:value="${answer.content}"/>
                        <a for="content" th:text="${answer.content}"></a>
                    </label>
                </div>
                <button type="submit" class="option" th:text="Next"></button>
            </form>
        </div>
        <div th:if="${quiz.questionList[session.questionIndex].questionType == T(com.Quizmania.Quizmania.domain.QuestionTypeEnum).OPEN}"
             class="option-list">
            <form th:action="@{'/quiz/'+ ${quiz.id} +'/play/submitopen'}"  method="post" >
                <input type="hidden" name="questionIndex" th:value="*{session.questionIndex}" />
                <input type="text" class="option" name="content" th:value="${content}" autocomplete="off", placeholder="Type the answer here"/>
            </form>
        </div>
    </section>
</div>

<script>
    if ([[${session.questionIndex}]] == 0){
        sessionStorage.setItem("time", 60 * [[${quiz.timeLimit}]]);
        timerInterval = null;
    }
    let time = sessionStorage.getItem("time");
    let timeLimit = time;
    let circleSize = 283;

    update();
    timerInterval = setInterval(update, 1000);

    function update(){
      const minutes= Math.floor(time / 60);
      let seconds = time % 60;

      seconds = seconds < 10 ? '0' + seconds : seconds;

      document.getElementById('countdown-number').innerHTML = minutes + ":" + seconds;
      time--;
      if(time <= 0){
          location.replace("/quiz/" + [[${quiz.id}]] + "/timeout");
      }
      sessionStorage.setItem("time", time)
    }

</script>
</body>
</html>